<header>
  <nav class ="navbar navbar-expand-md navbar-dark bg-dark">
  <div><a href="https://www.optum.com/" class="navbar-brand">Reporting <font style="color:orange">Hub</font></a></div>
  
  <ul class="navbar-nav">
    <li><a  routerLink="/claimlag" class="nav-link">Claim Lag</a></li>
    <li><a  routerLink="/claimexpense" class="nav-link">Claim Expense</a></li>
    <li><a  routerLink="/member" class="nav-link">Member Subscribers</a></li>
    <li><a  routerLink="/future" class="nav-link">Future Reports</a></li>
  
  </ul>
  
  </nav>
  
  </header>